<%= form_for(cliente) do |f| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.fields_for :pessoa do |fp| %>

      <div class="col-md-12 artical-details-info-left">
        <div class="row">
          <p class="col-md-12"><strong class="col-md-4"><%= fp.label :nome %>: </strong><%= fp.text_field :nome, class: "col-md-8 pull-right" %></p>
        </div>
        <div class="row">
          <p class="col-md-12"><strong class="col-md-4"><%= fp.label :cpf %>:</strong><%= fp.text_field :cpf, class: "col-md-8 pull-right" %></p>
        </div>

        <div class="row">
          <p class="col-md-12"><strong class="col-md-4"><%= fp.label :email %>: </strong><%= fp.email_field :email, class: "col-md-8 pull-right" %></p>
        </div>

        <div class="row">
          <p class="col-md-12"><strong class="col-md-4"><%= f.label :telefone %>:</strong> <%= f.text_field :telefone, class: "col-md-8 pull-right" %></p>
        </div>
      </div>
    <% end %>
    <div class="col-md-12 artical-details-info-right">
      <div class="row">
        <p class="col-md-12"><strong class="col-md-4"><%= f.label :endereco %>:</strong><%= f.text_field :endereco, class: "col-md-8 pull-right" %></p>
      </div>
      <div class="row">
        <p class="col-md-12"><strong class="col-md-4"><%= f.label :password %>:</strong> <%= f.password_field :password, class: "col-md-8 pull-right" %></p>
      </div>
      <div class="row">
        <p class="col-md-12"><strong class="col-md-4"><%= f.label :password_confirmation %>:</strong> <%= f.password_field :password_confirmation, class: "col-md-8 pull-right" %></p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="actions col-md-12">
      <%= f.submit "Atualizar", class: "col-md-2 col-md-offset-5 btn-destaque" %>
    </div>
    <div class="clearfix"> </div>
<% end %>
