<% @sessao_ativa = 3%><p id="notice"><%= notice %></p>
<!-- content -->
<div class="content">
  <div class="container">
    <!-- content-left -->
    <div class="col-md-12">
      <h1>Clientes</h1>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-3">Nome</div>
            <div class="col-md-3">Email</div>
            <div class="col-md-3">Telefone</div>
            <div class="clearfix" style="margin-bottom: 10px"></div>
          </div>
        </div>
        <div class="row">
          <% @clientes.each do |cliente| %>
              <div class="col-md-12">
                <div class="col-md-3"><%= cliente.pessoa.nome %></div>
                <div class="col-md-3"><%= cliente.pessoa.email %></div>
                <div class="col-md-3"><%= cliente.telefone %></div>
                <div class="col-md-1"><%= link_to 'Detalhes', cliente %></div>
                <div class="col-md-1"><%= link_to 'Editar', edit_cliente_path(cliente) %></div>
                <div class="col-md-1"><%= link_to 'Remover', cliente, method: :delete, data: { confirm: 'Deseja mesmo remover o cliente?' } %></div>
              </div>
          <% end %>
        </div>
      </div>
      <br>
      <div class="clearfix" style="margin-bottom: 10px"></div>
      <%= link_to 'Novo Cliente', new_cliente_path %>
    </div>
  </div>
</div>



