<% @sessao_ativa = 2%><p id="notice"><%= notice %></p>

<div class="container">
  <!-- content-left -->
  <div class="col-md-8 content-left">
    <!-- content-left -->
    <!-- artical-single-page -->
    <div class="artical-details">

    <p class="col-md-12"><strong>Diretor:</strong><%= @ator.nome %></p>
    <p class="col-md-12"><strong>Gênero:</strong><%= @ator.sexo %></p>

      <div class="col-md-12"></div>
        <%= link_to 'Editar', edit_ator_path(@ator), class: 'link-normal' %> |
        <%= link_to 'Atores', atores_path, class:'link-normal' %>
      </div>
    </div>
  </div>
</div>
