

<% @filmes.each do |filme| %>

<!-- content -->
<div class="content">
  <div class="container">
    <!-- content-left -->
    <div class="col-md-8 content-left">
      <div onclick="location.href='details.html';" class="artical">
        <div class="col-md-4 artical-left">
          <%= link_to( image_tag("post2.jpg"), filme_path(filme))%>
        </div>
        <div class="col-md-8 artical-right">
          <div class="artical-head">
            <h2><%= link_to filme.titulo, filme_path(filme) %></h2>
            <a href="#"><span class="rate"> </span></a>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
          <!-- artical-info -->
          <div class="artical-info">
            <p><strong>Diretor:</strong><%= filme.diretor %></p>
            <p><strong>Genero:</strong><%= filme.genero %></p>
            <p><strong>Classificação etária:</strong><%= filme.classificacao_etaria %></p>
            <p><strong>Atores:</strong> <% filme.elencos.each do |elenco|%>
                  <%=	 Ator.find(elenco.ator_id).nome %>
                  <% end %></p>
            <p><strong>Status:</strong> <a href="#"><%= filme.status %></p>
          </div>
          <!-- artical-info -->
        </div>
        <div class="clearfix"> </div>
      </div>
      <!-- artical-end -->
      <% end %>

      <div class="clearfix"> </div>
      <!-- pagenate -->
      <div class="pagenate">
        <%=	paginate @filmes  %>
        <ul>
          <li class="page-active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li class="next"><a href="#">Next</a></li>
        </ul>
      </div>
      <!-- pagenate -->
    </div>
    <div class="row">
      <%= link_to 'New Filme', new_filme_path %>
    </div>
  </div>
</div>
<!-- content -->