<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @filme.titulo %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @filme.genero %>
</p>

<p>
  <strong>Avaliacao:</strong>
  <%= @filme.avaliacao %>
</p>

<p>
  <strong>Sinopse:</strong>
  <%= @filme.sinopse %>
</p>

<p>
  <strong>Classificacao etaria:</strong>
  <%= @filme.classificacao_etaria %>
</p>

<p>
  <strong>Diretor:</strong>
  <%= @filme.diretor %>
</p>

<div>
  <strong>Atores:</strong>
  <% @filme.elencos.each do |elenco| %>
  <li><%= ator_no_elenco elenco %></li>
  <% end %>
</div>

<p>
  <strong>Status:</strong>
  <%= @filme.status %>
</p>

<%= link_to 'Edit', edit_filme_path(@filme) %> |
<%= link_to 'Back', filmes_path %>
