<% @sessao_ativa = 1%><div class="content">
  <div class="container">
    <!-- content-left -->
    <div class="col-md-8 content-left">
      <!-- content-left -->
        <!-- artical-single-page -->
        <div class="artical-details">
          <h2><a href="#"><%= @filme.titulo %></a></h2>
          <!-- artical-details-info -->
          <div class="artical-details-info">
            <div class="artical-details-info-left">
              <a href="#">IMAGEM</a>
            </div>
            <div class="artical-details-info-right">
              <p><strong>Diretor:</strong><%= @filme.diretor %></p>
              <p><strong>Gênero:</strong><%= @filme.genero %></p>
              <p><strong>Atores:</strong> <%= listar_atores @filme.elencos %></p>
              <p><strong>Classificação Etária:</strong> <%= @filme.classificacao_etaria %></p>
              <p><strong>Avaliação:</strong> <%= @filme.avaliacao %></p>
              <p><strong>Status:</strong><%= @filme.status %></p>
              <div class="dicription">
                <p><strong>Sinopse:</strong><%= @filme.sinopse %></p>
              </div>
              <a class="btn-destaque" href="#">Reservar</a>
              <%= link_to 'Editar', edit_filme_path(@filme), class: "btn-destaque" %>
            </div>
            <div class="clearfix"> </div>
          </div>
          <!-- artical-details-info -->
      <!-- content-left -->
        </div>
        <% if current_user 1 %>
          <%= form_for avaliacao do |f| %>
              <div class="col-md-12 artical-details-info-left">
                <div class="row">
                  <p class="col-md-12"><strong class="col-md-4"><%= f.label :nota %>: </strong><%= f.text_field :nota, class: "col-md-8 pull-right" %></p>
                </div>
                <div class="row">
                  <p class="col-md-12"><strong class="col-md-4"><%= f.label :cliente_id %>:</strong><%= current_user.id %></p>
                </div>
                <div class="row">
                  <p class="col-md-12"><strong class="col-md-4"><%= f.label :genero %>: </strong><%= f.text_field :genero, class: "col-md-8 pull-right" %></p>
                </div>
              </div>

    <% end %>
        <% end %>
        <%= link_to 'Voltar', filmes_path, class: 'link-normal' %>
  </div>
</div>
<!-- content -->
</div>