<% @sessao_ativa = 1%><div class="content">
  <div class="container">
    <!-- content-left -->
    <div class="col-md-8 content-left">
      <!-- content-left -->
        <!-- artical-single-page -->
        <div class="artical-details">
          <h2><a href="#"><%= @filme.titulo %></a></h2>
          <!-- artical-details-info -->
          <div class="artical-details-info">
            <div class="artical-details-info-left">
              <a href="#">IMAGEM</a>
            </div>
            <div class="artical-details-info-right">
              <p><strong>Diretor:</strong><%= @filme.diretor %></p>
              <p><strong>Gênero:</strong><%= @filme.genero %></p>
              <p><strong>Atores:</strong> <%= listar_atores @filme.elencos %></p>
              <p><strong>Classificação Etária:</strong> <%= @filme.classificacao_etaria %></p>
              <p><strong>Avaliação:</strong> <%= @filme.avaliacao %></p>
              <p><strong>Status:</strong><%= @filme.status %></p>
              <div class="dicription">
                <p><strong>Sinopse:</strong><%= @filme.sinopse %></p>
              </div>
              <a class="btn-destaque" href="#">Reservar</a>
              <%= link_to 'Editar', edit_filme_path(@filme), class: "btn-destaque" %>
            </div>
              <div class="clearfix"> </div>

          </div>
          <!-- artical-details-info -->
      <!-- content-left -->
        </div>
        <%= link_to 'Voltar', filmes_path, class: 'link-normal' %>
  </div>
</div>
<!-- content -->
</div>