<% @sessao_ativa = 3%><p id="notice"><%= notice %></p>

<p>
  <strong>Matricula:</strong>
  <%= @funcionario.matricula %>
</p>

<p>
  <strong>Pessoa:</strong>
  <%= @funcionario.pessoa.nome %>
  <%= @funcionario.pessoa.email %>
</p>

<%= link_to 'Editar', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Lista de Funcionários', funcionarios_path %>
