<!DOCTYPE html>
<html>
  <head>
    <title>LocaDora</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <!-- container -->
    <div class="header">
      <div class="container">
        <!-- header -->
        <!-- logo -->
        <div class="logo">
          <%= link_to(image_tag("logo.png"), filmes_path)%>
        </div>
        <!-- logo -->
        <!-- top-nav -->
        <div class="top-nav">
          <span class="menu"> </span>
          <ul>
            <li class="active"><%= link_to 'Home', filmes_path %></li>
            <li><%= link_to 'Atores', atores_path %></li>
            <li><a href="albums.html">Albums</a></li>
            <li><a href="404.html">Portfolio</a></li>
            <li><a href="contact.html">Contact</a></li>
            <div class="clearfix"> </div>
          </ul>
        </div>
        <div class="clearfix"> </div>
        <!-- top-nav -->
        <!-- script-for-menu -->
        <script>
            $(document).ready(function(){
                $("span.menu").click(function(){
                    $(".top-nav ul").slideToggle(200);
                });
            });
        </script>
        <!-- script-for-menu -->
      </div>
      <!-- header -->
    </div>
    <!-- categories -->
    <div class="categories">
      <div class="container">
        <div class="categories-left">
          <ul class="options">
            <li><a href="#">Action</a></li>
            <li><a href="#">Adventure</a></li>
            <li><a href="#">Fantasy</a></li>
            <li><a href="#">Comedy</a></li>
            <li><a href="#">Drama</a></li>
            <li><a href="#">thriller</a></li>
          </ul>
        </div>
        <div class="categories-right">
          <form>
            <input type="text" placeholder="Search here" required>
            <input type="submit" value="search" />
          </form>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!-- categories -->

    <%= yield %>

    <!-- footer -->
    <div class="footer">
      <div class="container">
        <div class="footer-grids">
          <div class="col-md-3">
            <div class="footer-grid">
              <h5>Sobre</h5>
              <p>LocaDora é uma empresa especializada no aluguel de filmes.</p>
              <p> Para saber mais, vá até a nossa loja!</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-grid f-blog">
              <h5>Form the Blo'g</h5>
              <div class="f-blog-artical">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <span>March 20,2014</span>
              </div>
              <div class="f-blog-artical f-blog-artical1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <span>March 20,2014</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-grid site-map">
              <h5>Site Map</h5>
              <ul>
                <li><a href="index.html"><span> </span>Home</a></li>
                <li><a href="404.html"><span> </span>News</a></li>
                <li><a href="albums.html"><span> </span>albums</a></li>
                <li><a href="404.html"><span> </span>portfolio</a></li>
                <li><a href="contact.html"><span> </span>Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-grid f-gallery">
              <h5>Form the portfolio</h5>
              <div class="f-gallery-grids">
                <div class="f-gallery-grid">
                  <ul>
                    <li><a href="#">IMAGEM</a></li>
                    <li><a href="#">IMAGEM</a></li>
                    <li><a href="#">IMAGEM</a></li>
                    <li><a href="#">IMAGEM</a></li>
                    <li><a href="#">IMAGEM</a></li>
                    <li><a href="#">IMAGEM</a></li>
                    <div class="clearfix"></div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    <!-- footer -->
  </body>
</html>