<!DOCTYPE html>
<html>
  <head>
    <title>LocaDora</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <!-- container -->
    <div class="header">
      <div class="container">
        <!-- header -->
        <!-- logo -->
        <div class="logo">
          <%= link_to(image_tag("logo.png"), filmes_path)%>

        </div>
        <!-- logo -->
        <!-- top-nav -->
        <div class="top-nav">
          <span class="menu"> </span>
          <ul>
            <li <% if @sessao_ativa == 1 %>class="active" <% end %>><%= link_to 'Home', filmes_path %></li>
            <li <% if @sessao_ativa == 2 %>class="active" <% end %>><%= link_to 'Atores', atores_path %></li>
            <li <% if @sessao_ativa == 3 %>class="active" <% end %>><%= link_to 'Login', login_path%></li>
            <% if(logged_in?) %>
              <li><%= link_to "Logout", logout_path, method: "delete" %></li>
            <% end %>
            <div class="clearfix"> </div>
          </ul>
        </div>
        <div class="clearfix"> </div>
        <!-- top-nav -->
        <!-- script-for-menu -->
        <script>
            $(document).ready(function(){
                $("span.menu").click(function(){
                    $(".top-nav ul").slideToggle(200);
                });
            });
        </script>
        <!-- script-for-menu -->
      </div>
      <!-- header -->
    </div>
        <div class="clearfix"> </div>
    </div>
    <!-- categories -->

    <%= yield %>

    <!-- footer -->
    <div class="footer">
      <div class="container">
        <div class="footer-grids" style="text-align: center">
          <div class="col-md-12">
            <div class="footer-grid">
              <h5>LocaDora - Todos os direitos reservados</h5>
              <p>LocaDora é uma empresa especializada no aluguel de filmes.</p>
              <p> Para saber mais, vá até a nossa loja!</p>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    <!-- footer -->
  </body>
</html>